numpy~=1.21.1
pyyaml~=5.4.1
tqdm~=4.61.2
colored_traceback
gym>=0.15.4
easydict~=1.9
torch~=1.9.0
opencv-python~=3.4.15.55
imageio~=2.9.0
pillow~=8.2.0
wandb~=0.12.1
tensorboard~=2.5.0
h5py~=3.4.0
setuptools~=52.0.0
isort~=5.9.3
matplotlib~=3.4.2