general:
    use_rnn: false # always false, using -r to active RNN
    decay_lr: false
    burn_in_time_step: 10
    train_time_step: 5
    rnn_units: 8
    tf_dtype: float32 # float32 or float64
    visual_feature: 128
    use_curiosity: false # whether to use ICM or not
    curiosity_lr: 1.0e-3 # the learning rate for ICM
    curiosity_reward_eta: 0.01 # scale the forward loss of ICM to shape intrinsic reward. It depends on the range of reward of specific environment.
    curiosity_beta: 0.2 # weight that scale the forward loss and inverse loss of ICM
    curiosity_loss_weight: 5 # weight that scale the gradient loss and ICM loss
    normalize_vector_obs: False

on_policy:
    rnn_time_step: 8

off_policy:
    use_isw: false
    episode_batch_size: 32 # rnn
    episode_buffer_size: 10000

hiro:
    gamma: 0.99
    intrinsic_reward_mode: os # os or cos
    ployak: 0.995
    high_scale: 1.0
    reward_scale: 1.0
    sample_g_nums: 100
    sub_goal_steps: 10
    fn_goal_dim: 0
    high_batch_size: 128
    high_buffer_size: 100000
    low_batch_size: 128
    low_buffer_size: 100000
    high_actor_lr: 1.0e-4
    high_critic_lr: 1.0e-3
    low_actor_lr: 1.0e-4
    low_critic_lr: 1.0e-3
    hidden_units:
        high_actor: [64, 64]
        high_critic: [64, 64]
        low_actor: [64, 64]
        low_critic: [64, 64]

curl:
    alpha: 0.2
    auto_adaption: true
    annealing: true
    last_alpha: 0.01
    log_std_bound: [-20, 2]
    actor_lr: 5.0e-4
    critic_lr: 1.0e-3
    alpha_lr: 5.0e-4
    curl_lr: 5.0e-4
    gamma: 0.99
    ployak: 0.995
    discrete_tau: 1.0
    batch_size: 8
    buffer_size: 1000
    img_size: 64
    use_priority: false
    n_step: false
    hidden_units:
        actor_continuous:
            share: [64, 64]
            mu: [64]
            log_std: [64]
        actor_discrete: [64, 64]
        q: [64, 64]
        encoder: 128

cem:
    frac: 0.2
    init_var: 1
    extra_std: 1
    envs_per_popu: 5
    extra_var_last_multiplier: 0.2
    hidden_units: [32, 32]

qs:
    mode: "q" # 'q', 'sarsa', 'expected_sarsa'
    lr: 0.2
    gamma: 0.99
    eps_init: 1
    eps_mid: 0.2
    eps_final: 0.01
    init2mid_annealing_episode: 20

dqn: &dqn
    lr: 5.0e-4
    gamma: 0.99
    eps_init: 1
    eps_mid: 0.2
    eps_final: 0.01
    init2mid_annealing_episode: 10
    batch_size: 256
    buffer_size: 100000
    assign_interval: 1000
    use_priority: false
    n_step: true
    hidden_units: [64, 64]

ddqn: *dqn

dddqn:
    hidden_units:
        share: [64]
        v: [64]
        adv: [64]
    <<: *dqn

bootstrappeddqn:
    head_num: 4
    <<: *dqn

oc:
    q_lr: 5.0e-3
    intra_option_lr: 5.0e-4
    termination_lr: 5.0e-4
    use_eps_greedy: false
    gamma: 0.99
    eps_init: 1
    eps_mid: 0.2
    eps_final: 0.01
    ent_coff: 0.01
    boltzmann_temperature: 1.0
    use_baseline: true
    terminal_mask: true
    double_q: false
    termination_regularizer: 0.01
    init2mid_annealing_episode: 10
    options_num: 4
    batch_size: 256
    buffer_size: 100000
    assign_interval: 1000
    use_priority: false
    n_step: true
    hidden_units:
        q: [32, 32]
        intra_option: [32, 32]
        termination: [32, 32]

ioc:
    q_lr: 5.0e-3
    intra_option_lr: 5.0e-4
    termination_lr: 5.0e-4
    interest_lr: 5.0e-4
    gamma: 0.99
    ent_coff: 0.01
    boltzmann_temperature: 1.0
    use_baseline: true
    terminal_mask: true
    double_q: false
    termination_regularizer: 0.01
    options_num: 4
    batch_size: 256
    buffer_size: 100000
    assign_interval: 1000
    use_priority: false
    n_step: true
    hidden_units:
        q: [32, 32]
        intra_option: [32, 32]
        termination: [32, 32]
        interest: [32, 32]

aoc:
    options_num: 4
    dc: 0.01
    terminal_mask: false
    eps: 0.1
    epsilon: 0.2
    value_epsilon: 0.2
    gamma: 0.99
    pi_beta: 1.0e-3
    lr: 5.0e-4
    lambda_: 0.97
    batch_size: 256
    epoch: 4 # very important
    kl_reverse: false
    kl_target: 0.02
    kl_target_cutoff: 2
    kl_target_earlystop: 4
    kl_beta: [0.7, 1.3]
    kl_alpha: 1.5
    kl_coef: 1.0
    hidden_units:
        share: [32, 32]
        q: [32, 32]
        intra_option: [32, 32]
        termination: [32, 32]

ppoc:
    options_num: 4
    dc: 0.01
    terminal_mask: false
    o_beta: 1.0e-3
    epsilon: 0.2
    value_epsilon: 0.2
    gamma: 0.99
    pi_beta: 1.0e-3
    lr: 5.0e-4
    lambda_: 0.97
    batch_size: 256
    epoch: 4 # very important
    kl_reverse: false
    kl_target: 0.02
    kl_target_cutoff: 2
    kl_target_earlystop: 4
    kl_beta: [0.7, 1.3]
    kl_alpha: 1.5
    kl_coef: 1.0
    hidden_units:
        share: [32, 32]
        q: [32, 32]
        intra_option: [32, 32]
        termination: [32, 32]
        o: [32, 32]

sql:
    lr: 5.0e-4
    alpha: 2
    ployak: 0.995
    gamma: 0.99
    batch_size: 256
    buffer_size: 100000
    use_priority: false
    n_step: true
    hidden_units: [64, 64]

c51:
    v_min: -100
    v_max: 100
    atoms: 51
    lr: 5.0e-4
    gamma: 0.99
    eps_init: 1
    eps_mid: 0.2
    eps_final: 0.01
    init2mid_annealing_episode: 10
    batch_size: 256
    buffer_size: 100000
    assign_interval: 1000
    use_priority: false
    n_step: true
    hidden_units: [256, 256]

rainbow:
    v_min: -100
    v_max: 100
    atoms: 51
    lr: 5.0e-4
    gamma: 0.99
    eps_init: 1
    eps_mid: 0.2
    eps_final: 0.01
    init2mid_annealing_episode: 10
    batch_size: 256
    buffer_size: 100000
    assign_interval: 1000
    use_priority: true
    n_step: true
    hidden_units:
        share: [128]
        v: [128, 128]
        adv: [128, 128]

qrdqn:
    nums: 20
    huber_delta: 1.
    lr: 5.0e-4
    gamma: 0.99
    eps_init: 1
    eps_mid: 0.2
    eps_final: 0.01
    init2mid_annealing_episode: 10
    batch_size: 256
    buffer_size: 100000
    assign_interval: 1000
    use_priority: false
    n_step: true
    hidden_units: [256, 256]

iqn:
    online_quantiles: 8 # quantile number of online network
    target_quantiles: 8 # quantile number of target network
    select_quantiles: 32 # quantile number for selecting actions
    quantiles_idx: 64 # trails
    huber_delta: 1. # delta for huber loss
    lr: 5.0e-4
    gamma: 0.99
    eps_init: 1
    eps_mid: 0.2
    eps_final: 0.01
    init2mid_annealing_episode: 10
    batch_size: 256
    buffer_size: 100000
    assign_interval: 1000
    use_priority: false
    n_step: true
    hidden_units:
        q_net: [128, &iqn_hm 64]
        quantile: [128, *iqn_hm]
        tile: [64]

pg:
    lr: 5.0e-4
    gamma: 0.99
    batch_size: 64
    epoch: 1 # very important
    hidden_units:
        actor_continuous: [64, 64]
        actor_discrete: [64, 64]

ac:
    actor_lr: 5.0e-4
    critic_lr: 1.0e-3
    gamma: 0.99
    batch_size: 256
    buffer_size: 100000
    use_priority: false
    n_step: true
    hidden_units:
        actor_continuous: [64, 64]
        actor_discrete: [64, 64]
        critic: [64, 64]

a2c:
    actor_lr: 5.0e-4
    critic_lr: 1.0e-3
    gamma: 0.99
    beta: 1.0e-3
    batch_size: 64
    epoch: 4 # very important
    hidden_units:
        actor_continuous: [64, 64]
        actor_discrete: [64, 64]
        critic: [64, 64]

ppo:
    share_net: true
    epsilon: 0.2
    value_epsilon: 0.2
    gamma: 0.99
    beta: 1.0e-3
    lr: 5.0e-4
    lambda_: 0.97
    batch_size: 64
    policy_epoch: 4 # very important
    value_epoch: 4
    actor_lr: 3.0e-4
    critic_lr: 1.0e-3
    kl_reverse: false
    kl_target: 0.02
    kl_target_cutoff: 2
    kl_target_earlystop: 4
    kl_beta: [0.7, 1.3]
    kl_alpha: 1.5
    kl_coef: 1.0
    hidden_units:
        share:
            continuous:
                share: [64, 64]
                mu: [64, 64]
                v: [64, 64]
            discrete:
                share: [64, 64]
                logits: [64, 64]
                v: [64, 64]
        actor_continuous: [64, 64]
        actor_discrete: [64, 64]
        critic: [64, 64]

trpo:
    epsilon: 0.2
    gamma: 0.99
    beta: 1.0e-3
    lr: 5.0e-4
    delta: 0.01
    lambda_: 0.97
    cg_iters: 10
    damping_coeff: 0.1
    backtrack_iters: 10
    backtrack_coeff: 0.8
    train_v_iters: 10
    batch_size: 64
    critic_lr: 1.0e-3
    hidden_units:
        actor_continuous: [64, 64]
        actor_discrete: [64, 64]
        critic: [64, 64]

dpg:
    gamma: 0.99
    actor_lr: 5.0e-4
    critic_lr: 1.0e-3
    discrete_tau: 1.0
    batch_size: 256
    buffer_size: 100000
    use_priority: false
    n_step: true
    hidden_units:
        actor_continuous: [64, 64]
        actor_discrete: [64, 64]
        q: [64, 64]

ddpg:
    gamma: 0.99
    ployak: 0.995
    actor_lr: 5.0e-4
    critic_lr: 1.0e-3
    discrete_tau: 1.0
    batch_size: 256
    buffer_size: 100000
    use_priority: false
    n_step: true
    hidden_units:
        actor_continuous: [64, 64]
        actor_discrete: [64, 64]
        q: [64, 64]

pd_ddpg:
    gamma: 0.99
    ployak: 0.995
    actor_lr: 5.0e-4
    reward_critic_lr: 1.0e-3
    cost_critic_lr: 1.0e-3
    lambda_lr: 5.0e-4
    discrete_tau: 1.0
    cost_constraint: 1.0
    batch_size: 256
    buffer_size: 100000
    use_priority: false
    hidden_units:
        actor_continuous: [64, 64]
        actor_discrete: [64, 64]
        reward: [64, 64]
        cost: [64, 64]

td3:
    gamma: 0.99
    ployak: 0.995
    delay_num: 2
    noise_type: gaussian # ou or gaussian
    gaussian_noise_sigma: 0.2 # if using gaussian noise, specify the variance of gaussian distribution
    gaussian_noise_bound: 0.2 # if using gaussian noise, specify the clipping bound of sampled noise, noise must in range of [-bound, bound]
    actor_lr: 5.0e-4
    critic_lr: 1.0e-3
    discrete_tau: 1.0 # discrete_tau越小，gumbel采样的越接近one_hot，但相应的梯度也越小
    batch_size: 256
    buffer_size: 100000
    use_priority: false
    n_step: true
    hidden_units:
        actor_continuous: [64, 64]
        actor_discrete: [64, 64]
        q: [64, 64]

sac:
    alpha: 0.2
    auto_adaption: true
    annealing: true
    last_alpha: 0.01
    log_std_bound: [-20, 2]
    actor_lr: 5.0e-4
    critic_lr: 1.0e-3
    alpha_lr: 5.0e-4
    gamma: 0.99
    ployak: 0.995
    use_gumbel: true
    discrete_tau: 1.0
    batch_size: 256
    buffer_size: 100000
    use_priority: false
    n_step: true
    hidden_units:
        actor_continuous:
            share: [64, 64]
            mu: [64]
            log_std: [64]
        actor_discrete: [64, 64]
        q: [64, 64]

sac_v:
    alpha: 0.2
    auto_adaption: true
    annealing: true
    last_alpha: 0.01
    log_std_bound: [-20, 2]
    gamma: 0.99
    ployak: 0.995
    use_gumbel: true
    actor_lr: 5.0e-4
    critic_lr: 1.0e-3
    alpha_lr: 5.0e-4
    discrete_tau: 1.0
    batch_size: 256
    buffer_size: 100000
    use_priority: false
    n_step: true
    hidden_units:
        actor_continuous:
            share: [64, 64]
            mu: [64]
            log_std: [64]
        actor_discrete: [64, 64]
        q: [64, 64]
        v: [64, 64]

tac:
    alpha: 0.2
    auto_adaption: true
    annealing: true
    last_alpha: 0.01
    log_std_bound: [-20, 2]
    # maybe equal or greater than 0. We realize that the proposed method performs better when 1 ≤ q < 2 than
    # when 0 < q < 1 and q ≥ 2, in terms of stable convergence and final total average returns.
    # q -> 0, more exploration, 2<= q -> +∞, more exploitation.
    # 1 <=q < 2 is much better. Note that q=1 equals SAC.
    entropic_index: 1.5
    actor_lr: 5.0e-4
    critic_lr: 1.0e-3
    alpha_lr: 5.0e-4
    gamma: 0.99
    ployak: 0.995
    discrete_tau: 1.0
    batch_size: 64
    buffer_size: 100000
    use_priority: false
    n_step: true
    hidden_units:
        actor_continuous:
            share: [64, 64]
            mu: [64]
            log_std: [64]
        actor_discrete: [64, 64]
        q: [64, 64]

maxsqn:
    alpha: 0.2
    beta: 0.1 # 0 <= beta < 1 when beta approaches 1 the distribution of convergence points is closer to uniform distribution means more entropy. when beta approaches 0 the final policy is more deterministic.
    use_epsilon: false
    eps_init: 1
    eps_mid: 0.2
    eps_final: 0.01
    init2mid_annealing_episode: 10
    auto_adaption: true
    q_lr: 5.0e-4
    alpha_lr: 5.0e-4
    gamma: 0.999
    ployak: 0.995
    batch_size: 256
    buffer_size: 100000
    use_priority: false
    n_step: true
    hidden_units: [64, 64]

ma_dpg:
    gamma: 0.99
    actor_lr: 5.0e-4
    critic_lr: 1.0e-3
    hidden_units:
        actor: [64, 64]
        q: [64, 64]

ma_ddpg:
    gamma: 0.99
    ployak: 0.995
    actor_lr: 5.0e-4
    critic_lr: 1.0e-3
    hidden_units:
        actor: [64, 64]
        q: [64, 64]

ma_td3:
    gamma: 0.99
    ployak: 0.995
    actor_lr: 5.0e-4
    critic_lr: 1.0e-3
    hidden_units:
        actor: [64, 64]
        q: [64, 64]
